/* ===========moblie===================== */
@media(min-width:480px){
    
}
/* ===========moblie===================== */
/* ==================tablet================== */
@media(min-width:600px){
    .container{
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
    
}
/* ==================tablet================== */
/* =====================desktop=================== */
@media(min-width:900px){

.container{
    display: grid;
    grid-template-columns:1fr 3fr;
}
.container_2{
    display: grid;
    grid-template-columns: 1fr 1fr;

}


}
/* =====================desktop=================== */
*{

    
}

body{
margin: 0;
padding: 0;
color: white;

}

hr{

        color: gray;
    
}

.navbar{
border-bottom-color: white;
background-color: black;
text-align: center;

}
.coach{
    border: 1mm white;
}
img{
    /* display: block; */
    height: 120px;
    width: 120px;
    /* border-radius: 50%; */
/* justify-content: center; */
    padding: 10px;

}
.container_2{
    background-color: white;

}